<% include partials/header.ejs %>
<body>
  <div class="container">
          <div class="col-xs-12" id="blog[i]">
            <h1> <%= blog[i].Title %> </h1>
            <p> <%= blog[i].Content %> </p>
          </div>
          <% } %>
        </div>
    </body>
</html>
