<% include partials/header.ejs %>
<body>
  <div class="container">
          <div class="col-xs-12" id="blog[i]">
            <h1> <%= Full.Title %> </h1>
            <p> <%= Full.Date.toDateString() %> <p>
            <p> <%= Full.Content %> </p>
          
          </div>
        </div>
    </body>
</html>
