<% include partials/header.ejs %>
<body>
  <section>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <h1>Sign Up</h1>
        <form action='/signup' method='POST'>
          Name:</br>
          <input type="text" name="name"></input></br>
          Email:</br>
          <input type="email" name="email"></input></br>
          Username:</br>
          <input type="text" name="username"></input></br>
          Password:<br>
          <input type="password" name="password"></input></br>
          <button type="submit" value="submit">SUBMIT</button>
        </form>
      </div>
    </div>
  </section>
</body>
</html>
